:root {
    /* FONTS */
    --f600: #9798A1;
    --f400: #EDEDED;

    /* BACKGROUND */
    --bg-nav: #0F111C;
    --bg-page: #121526;

}

table{
    margin: 30px 0px;
}

.contact h2 {
    color: var(--f400);
    text-align: center;
    margin: 10px 0px;
    letter-spacing: 2px;
    outline: var(--f600) 1px solid;
    padding: 10px 20px;
}

tr {
    background-color: var(--bg-page);
}

tr td{
    padding: 10px 40px;
    border: var(--bg-nav) 3px solid;
    /* background-color: yellow; */
}

.td-title{
    color: var(--f600);
    /* text-align: center; */
}

.td-det{
    color: var(--f400);
}

.cta{
    padding: 30px 30px;
    border-radius: 10px;
    background-color: var(--bg-page);
    color: var(--f400);
}

.cta h3{
    text-align: center;
    font-size: 23px;
    letter-spacing: 1px;
    color: var(--f400);
}

form{
    margin-top: 20px;
}

.name-email{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--f600);
    
}

.name input{
    margin-right: 10px;
}

input{
    display: block;
    height: 30px;
    margin-bottom: 15px;
}

.message label{
    /* padding: 0px 0px; */
    color: var(--f600);
    display: block;
}

.message textarea{
    padding: 8px;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
}

.submit-btn{
    /* text-justify: center; */
    color: var(--f400);
    /* margin-top: 30px; */
    text-align: center;
    display: block;
    /* padding: 20px; */
    /* padding-bottom: 20px; */
    height: 50px;
    width: 150px;
    font-size: 16px;
    border-radius: 10px;
    border: white 1px solid;
    transition: 500ms ease;
    background-color: var(--bg-nav);
    margin: auto;
}

.submit-btn:hover{
    
    background-color: var(--btn-hover);
    cursor: pointer;
}