:root {
    /* FONTS */
    --f600: #9798A1;
    --f400: #EDEDED;

    /* BACKGROUND */
    --bg-nav: #0F111C;
    --bg-page: #121526;

}

table{
    margin: 30px 0px;
}


tr {
    background-color: var(--bg-page);
}

tr td{
    padding: 10px 40px;
    border: var(--bg-nav) 3px solid;
    /* background-color: yellow; */
}

.td-title{
    color: var(--f600);
    /* text-align: center; */
}

.td-det{
    color: var(--f400);
}

.cta{
    padding: 30px 30px;
    border-radius: 10px;
    background-color: var(--bg-page);
    color: var(--f400);
}

.cta h3{
    text-align: center;
    font-size: 23px;
    letter-spacing: 1px;
    color: var(--f600);
}

form{
    margin-top: 20px;
}

label{
    display: block;
    margin-top: 15px 0px;
}

input{
    height: 30px;
    margin-bottom: 25px;
}

.submit-btn{
    /* text-justify: center; */
    color: var(--f400);
    /* margin-top: 30px; */
    text-align: center;
    display: block;
    /* padding: 20px; */
    /* padding-bottom: 20px; */
    height: 50px;
    width: 150px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    transition: 500ms ease;
    background-color: var(--bg-nav);
    margin: auto;
}

.submit-btn:hover{
    
    background-color: var(--btn-hover);
    cursor: pointer;
}