:root {
    /* FONTS */
    --f600: #9798A1;
    --f400: #EDEDED;

    /* BACKGROUND */
    --bg-nav: #0F111C;
    --bg-page: #121526;

    /* BUTTON */
    --btn-still :var(--bg-nav);
    --btn-hover : rgba(255, 0, 0, 0.582);

}

.myskill{
    /* background-color: seagreen; */
    position: relative;
}

.icon-logo{
    /* position: absolute; */
    margin: 5px 0px;
    height: auto;
    width: auto;
    /* background-color: rgb(148, 129, 116); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.log{
    height: 150px;
    width: 100px;
    margin: 0px 20px;
    /* background-color: var(--bg-nav); */
    /* background-color: rgb(2,0,36);
    background-color: radial-gradient(circle, rgba(2,0,36,1) 13%, rgba(9,9,121,1) 43%, rgba(0,212,255,1) 100%); */
    /* box-shadow: 5px 5px 4px 4px; */
    
}


.log-det-ul li{
    margin: 5px 10px;
    list-style: disc;
    font-size: 16px;
    text-align: left;
    color: var(--f400);
}

.myskill h2 {
    color: var(--f400);
    text-align: center;
    margin: 10px 0px;
    letter-spacing: 3px;
    outline: var(--f600) 1px solid;
    padding: 10px 20px;
}

.title-code, .title-no-code {
    margin-top: 20px;
    font-size: 30px;
    color: var(--f400);
}


/* PHOTOS */
.html{
    background-color: var(--bg-nav);
    background-image: url(img/logo/HTML5_Logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode:luminosity;
}

.css{
    background-color: var(--bg-nav);
    background-image: url(img/logo/CSS3_logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode:luminosity;
}

.js{
    background-color: var(--bg-nav);
    background-image: url(img/logo/Javascript_Logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode:luminosity;
}

.php{
    background-color: var(--bg-nav);
    background-image: url(img/logo/PHP-logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode:luminosity;
}

.react{
    background-color: var(--bg-nav);
    background-image: url(img/logo/reactjs-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode:luminosity;
}
