
:root {
    /* FONTS */
    --f600: #9798A1;
    --f400: #EDEDED;

    /* BACKGROUND */
    --bg-nav: #0F111C;
    --bg-page: #121526;

}


* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* FULL PAGE NAVIGATION */


nav {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-nav);
    position: relative;
    overflow: hidden;
}

nav h1{
    position: absolute;
    color: var(--f400);
    left: 20px;
    top: 10px;
    font-size: 2ch;
    font-weight: 500;
    /* z-index: 3; */
}

nav .tagline {
    position: absolute;
    left: 18%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10ch;
    font-weight: 300;
    color: var(--f600);
    letter-spacing: 5px;
    text-transform: uppercase;
}

.tagline::after {
    position: absolute;
    top: 0%;
    left: 75%;
    content: '';
    width: 25%;
    height: 2px;
    background: sandybrown;
}

.nav-ctn {
    z-index: 4;
    position: absolute;
    width: 80px;
    height: 100px;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);

    /* nav btn position */
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-btn {
    z-index: 5;
    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    cursor: pointer;

    /* before and after position */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}

#nav-btn:hover {
    background: rgba(255, 0, 0, 0.582);
}
#nav-btn.active {
    background: rgba(255, 0, 0, 0.582);
}

#nav-btn::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 4px;
    background: cornsilk;
    transform: translateY(-10px);
    transition: 500ms;
    box-shadow: 0 10px 0 cornsilk ;
    /* left: 50%;
    top:25%;
    transform: translate(-50%); */
}
#nav-btn.active::before {
    box-shadow: 0 0 0 cornsilk ;
    transform: translateY(0px) rotate(45deg);
}

#nav-btn::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 4px;
    background: cornsilk;
    transform: translateY(10px);
    transition: 500ms;
    /* left: 50%;
    top:25%;
    transform: translate(-50%); */
}

#nav-btn.active::after {
    box-shadow: 0 0 0 cornsilk ;
    transform: translateY(0px) rotate(-45deg);
}

/* PAGE NAVIGATION */

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-page);
    transform: translateX(-100%);
    transition: transform 1000ms ease;
    z-index: 2;
    overflow-x: hidden;
   
}

.page.active {
    transform: translateX(0%);
    /* position: absolute; */
    /* z-index: 2; */

}

.page .logo{
    position: absolute;
    color: var(--f400);
    left: 20px;
    top: 10px;
    font-size: 2ch;
    font-weight: 500;
}

.page ul {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translateY(-50%);
}

.page ul li{
    padding: 10px;
    color: var(--f600);
    font-size: 8ch;
    transition: color 300ms ease;
    font-weight: 400;
}

.page ul li:hover {
    cursor: pointer;
    color: var(--f400);
}

.page li.toggle {
    color: var(--f400);
}


/* CONTAINER FOR DETAILS */

.page .container {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
    width: 50%;
    background: var(--bg-nav);
    border: none;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
    /* overflow-y: scroll; */
    

    /* DETAILS POSITION */
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* ABOUT */
.container .nav-det{
    /* position: absolute;
    top: 2px;
    left: 10px; */
    font-size: 2ch;
    font-weight: 400;
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 10px;
}

.nav-det p{
    display: inline;
    color: var(--f600);
}

.photo img {
    height: 300px;
    width: 300px;
    border: none;
    border-radius: 150px;
}

.nav-det p:hover{
    cursor: pointer;
    color: var(--f400);
}

.nav-det .not:hover{
    color: black;
    cursor:text;
}

.container .about-me{
    color: var(--f400);
    padding: 40px 30px;
    font-size: 18px;
    height: 40%;
    line-height: 30px;
}

.container.show{
    display: flex;
}

/* RESUME DOWNLOAD */
.download {
    color: var(--f400);
    font-size: 18px;
    margin: 30px 0px;
}

.download:hover {
    cursor: pointer;
}