:root {
    /* FONTS */
    --f600: #9798A1;
    --f400: #EDEDED;

    /* BACKGROUND */
    --bg-nav: #0F111C;
    --bg-page: #212227;

}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* FULL PAGE NAVIGATION */

nav {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-nav);
    position: relative;
}

nav h1{
    position: absolute;
    color: var(--f400);
    left: 20px;
    top: 10px;
    font-size: 2ch;
}

nav .tagline {
    position: absolute;
    left: 20%;
    top: 35%;
    font-size: 10ch;
    font-weight: 600;
    color: var(--f600);
    letter-spacing: 5px;
    text-transform: uppercase;
}

.nav-ctn {
    position: absolute;
    width: 80px;
    height: 100px;
    top: 40%;
    left: 1%;

    /* nav btn position */
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-btn {
    z-index: 5;
    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    cursor: pointer;

    /* before and after position */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}

#nav-btn:hover {
    background: rgba(255, 0, 0, 0.582);
}
#nav-btn.active {
    background: rgba(255, 0, 0, 0.582);
}

#nav-btn::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: cornsilk;
    transform: translateY(-10px);
    transition: 500ms;
    box-shadow: 0 10px 0 cornsilk ;
    /* left: 50%;
    top:25%;
    transform: translate(-50%); */
}
#nav-btn.active::before {
    box-shadow: 0 0 0 cornsilk ;
    transform: translateY(0px) rotate(45deg);
}

#nav-btn::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: cornsilk;
    transform: translateY(10px);
    transition: 500ms;
    /* left: 50%;
    top:25%;
    transform: translate(-50%); */
}

#nav-btn.active::after {
    box-shadow: 0 0 0 cornsilk ;
    transform: translateY(0px) rotate(-45deg);
}

/* PAGE NAVIGATION */

.page {

    width: 100vw;
    height: 100vh;
    background: var(--bg-page);
    transform: translateX(-120%);
    transition: transform 1000ms ease;
   
}

.page.active {
    transform: translateX(0%);
    position: absolute;
    z-index: 2;

}